Source: deepin-dummyapps
Section: editors
Priority: optional
Maintainer: Wu Haotian <wuhaotian@uniontech.com>
Standards-Version: 4.6.0.1
Build-Depends: debhelper-compat (= 12), gettext, gettext-base

Package: dummyapp-dummyapptestreserved
Architecture: all
Depends: ${misc:Depends}
Description: Dummy package testing reserved
